.rio{
   text-align: center;
}

.imgen{
    height: 100px;
    width: 150px;
}
.letras{
    
    color:rgba(24, 3, 36, 0.849);
    text-align: center;
}
.icn{
    text-align: center;
}
.TRES{
    justify-content: center;
}
.container{
    background-color: aqua;
}